{# NAME:30键槽-倒角-生成模板 #}
{% set XIANGAO = (U_D/2) - ((U_D/2)**2 - (U_B/2)**2)**0.5 %}
{% set XIANGAO2 = (U_D/2) - ((U_D/2)**2 - (U_B/2-U_Q)**2)**0.5 %}
{% set R11 = -(XIANGAO + R4 + U_CHAMFER_DEPTH) + R5/2 %}
{% set R12 = -(R4 + U_CHAMFER_DEPTH) + R5/2 %}
{% set R13 = -(XIANGAO2 + R4 + U_CHAMFER_DEPTH) + R5/2 %}
{# 刀具与基本参数 - 不在最终输出中显示 #}
{#
R1={{ R1|default(4000) }} ;转速
R2={{ R2|default(1200) }} ;进给
R3={{ R3|default(8) }}    ;直径
R4={{ R4|default(2) }}    ;下降深度
R5={{ R5|default(0) }}    ;横刃宽度
R6={{ R6|default(40) }}   ;伸出长度
#}
;----倒角子程序----
GX73
GZ73 Y0
L184(0,0,,,,0)
L171("{{ U_CT }}")
L172(0)
L171("{{ U_CTB }}")
GX73
GZ73 Y0
L184(0,90,,,,0)
L140(0.00,4,0)
SETMS(1)
DIAMOF
G17
G90
D1
;''''基础坐标系偏移''''
XMW_1=0 YMW_1=0 ZMW_1=I_R9[35]+I_R9{{ U_ID }} CMW_1=0
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
;''''旋转-定位键槽''''
AROT Y90
AROT Z180
ATRANS X{{ "%0.3f" | format(U_Z) }} Z{{ "%0.3f" | format(U_D / 2) }}
{# ; 计算中间变量 #}
{% if U_FX == "左开口" %}
    {% set R22 = -(R3/2 + 10) %}
    {% set R23 = U_A %}
    {% set R24 = -(U_B/2) %}
    {% set R25 = -(R3/2 + 10) %}
    {% set R36 = U_A + U_Q %}
    {% set R37 = -(U_B/2 - U_Q) %}
    {% set R38 = U_Q %}
	{% set R4 = R4 %}
    {% set R26 = R24 + R4 %}
{% elif U_FX == "右开口" %}
    {% set R22 = R3/2 + 10 %}
    {% set R23 = -U_A %}
    {% set R24 = U_B/2 %}
    {% set R25 = R3/2 + 10 %}
    {% set R36 = -(U_A + U_Q) %}
    {% set R37 = U_B/2 - U_Q %}
    {% set R38 = -U_Q %}
    {% set R4 = -R4 %}
    {% set R26 = R24 + R4 %}
{% else %}
    {% set R22 = 0 %}
    {% set R23 = -U_A %}
    {% set R24 = U_B/2 %}
    {% set R25 = 0 %}
    {% set R36 = -(U_A + U_Q) %}
    {% set R37 = U_B/2 - U_Q %}
    {% set R38 = -U_Q %}
    {% set R4 = -R4 %}
    {% set R26 = R24 + R4 %}
{% endif %}
{#; --- G代码执行部分 ---#}
G97 S1={{ "%.0f"|format(R1) }} M1=3
M14=8 M10=150 H50=80
G94 G40 G0 X={{ "%.3f"|format(R22) }} Y=0 C=DC(0.000)
G64
G0 Z=5
{% if U_Q == 0 %}
{% if U_FX == "闭口" %}
; --- 闭口不带圆弧 (CLOSE_WITHOUT_CIR) ---
G01 Z={{ "%.3f"|format(R11) }} F100
G40 Y={{ "%.3f"|format(R26) }} F={{ "%.0f"|format(R2) }}
G01 X={{ "%.3f"|format(R23) }}
G03 X={{ "%.3f"|format(R23 - R26) }} Y=0 I=0 J={{ "%.3f"|format(-R26) }} Z={{ "%.3f"|format(R12) }}
G03 X={{ "%.3f"|format(R23) }} Y={{ "%.3f"|format(-R26) }} I={{ "%.3f"|format(R26) }} J=0 Z={{ "%.3f"|format(R11) }}
G01 X={{ "%.3f"|format(R25) }}
G03 X={{ "%.3f"|format(R26) }} Y=0 I0 J={{ "%.3f"|format(R26) }} Z={{ "%.3f"|format(R12) }}
G03 X={{ "%.3f"|format(R22) }} Y={{ "%.3f"|format(R26) }} I={{ "%.3f"|format(-R26) }} J=0 Z={{ "%.3f"|format(R11) }}
G01 Y=0
{% else %}
; --- 开口不带圆弧 (OPEN_WITHOUT_CIR) ---
G01 Z={{ "%.3f"|format(R11) }} F100
G40 Y={{ "%.3f"|format(R26) }} F={{ "%.0f"|format(R2) }}
G01 X={{ "%.3f"|format(R23) }}
G03 X={{ "%.3f"|format(R23 - R26) }} Y=0 I=0 J={{ "%.3f"|format(-R26) }} Z={{ "%.3f"|format(R12) }}
G03 X={{ "%.3f"|format(R23) }} Y={{ "%.3f"|format(-R26) }} I={{ "%.3f"|format(R26) }} J=0 Z={{ "%.3f"|format(R11) }}
G01 X={{ "%.3f"|format(R25) }}
G01 Y=0
{% endif %}
{% else %}
{% if U_FX == "闭口" %}
; --- 闭口带圆弧 (CLOSE_WITH_CIR) ---
G01 Z={{ "%.3f"|format(R11) }} F100
G40 Y={{ "%.3f"|format(R26) }} F={{ "%.0f"|format(R2) }}
G01 X={{ "%.3f"|format(R23) }}
G03 X={{ "%.3f"|format(R36 - R4) }} Y={{ "%.3f"|format(R37) }} I=0 J={{ "%.3f"|format(R38 - R4) }} Z={{ "%.3f"|format(R13) }}
G01 Y=0 Z={{ "%.3f"|format(R12) }}
G01 Y={{ "%.3f"|format(-R37) }} Z={{ "%.3f"|format(R13) }}
G03 X={{ "%.3f"|format(R23) }} Y={{ "%.3f"|format(-R26) }} I={{ "%.3f"|format(-R38 + R4) }} Z={{ "%.3f"|format(R11) }}
G01 X={{ "%.3f"|format(R25) }}
G03 X={{ "%.3f"|format(-R38 + R4) }} Y={{ "%.3f"|format(-R37) }} I=0 J={{ "%.3f"|format(-R38 + R4) }} Z={{ "%.3f"|format(R13) }}
G01 Y=0 Z={{ "%.3f"|format(R12) }}
G01 Y={{ "%.3f"|format(R37) }} Z={{ "%.3f"|format(R13) }}
G03 X={{ "%.3f"|format(R25) }} Y={{ "%.3f"|format(R26) }} I={{ "%.3f"|format(R38 - R4) }} Z={{ "%.3f"|format(R11) }}
G01 Y=0
{% else %}
; --- 开口带圆弧 (OPEN_WITH_CIR) ---
G01 Z={{ "%.3f"|format(R11) }} F100
G40 Y={{ "%.3f"|format(R26) }} F={{ "%.0f"|format(R2) }}
G01 X={{ "%.3f"|format(R23) }}
G03 X={{ "%.3f"|format(R36 - R4) }} Y={{ "%.3f"|format(R37) }} I=0 J={{ "%.3f"|format(R38 - R4) }} Z={{ "%.3f"|format(R13) }}
G01 Y=0 Z={{ "%.3f"|format(R12) }}
G01 Y={{ "%.3f"|format(-R37) }} Z={{ "%.3f"|format(R13) }}
G03 X={{ "%.3f"|format(R23) }} Y={{ "%.3f"|format(-R26) }} I={{ "%.3f"|format(-R38 + R4) }} Z={{ "%.3f"|format(R11) }}
G01 X={{ R25 }}
G01 Y=0
{% endif %}
{% endif %}
G90 G0 Z=5
G0 G40 Z=100
STOPRE
;-----------
ROT
TRANS
DIAMON
M14=9
M13=9
M10=151
M1=5
GX73
GZ73 Y0
M01
;-----------
RET

;........



