{# 卡簧槽程序模板 #}

{% for z_pos in z_offsets %}
; --- 卡簧槽 Z={{ z_pos | fmt_coord }} ---
G0 Z{{ z_pos | fmt_val }}
G0 X{{ (X_RAW_D + 10) | fmt_val }}
M4=97
R12={{ X_TIP_D | fmt_val }}
R13={{ z_pos | fmt_val }}
R14={{ WIDTH_CIRCLIP | fmt_val }}
R15={{ (X_TIP_D - X_DOWN_D) | fmt_val }}/2
R16=0.000
R17=0.000
R18={{ MAX_CUTDIPTH | fmt_val }}
R19={{ WIDTH_CUTER | fmt_val }}
R20={{ FEEDRATE | fmt_val }}
R21=0.300
DB_CYCLE93(R12,R13,R14,R15,R16,R17,R18,R19,R20,R21)
G0 X{{ (X_RAW_D + 10) | fmt_val }}
STOPRE
{% endfor %}
